<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block description %}Cabinet d'ostéopathie Paris 17 ouvert du lundi au samedi. Du nourisson à l'adulte. 06.78.40.97.40{% endblock %}">
    <meta name="country" content='France' />
    <meta name="geo.position" content='48.8840759;2.3120439' />
    <meta name="geo.country" content='FR' />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">
    <title>{% block title %}Ostéopathe Paris{% endblock %}</title>
    <link rel="author" href="https://plus.google.com/108973402213918487976" />
    <link rel="publisher" href="https://plus.google.com/108973402213918487976" />
    <link href="https://plus.google.com/108973402213918487976" rel="publisher" />
    <link rel="canonical" href="{{ url('app_'~template) }}" />

    <!-- Facebook -->
    <!-- <meta property="og:title" content="iAcquire’s awesome blog" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="http://www.iacquire.com/some-thumbnail.jpg" />
    <meta property="og:url" content="http://blog.iacquire.com" />
    <meta property="og:description" content="Stop hitting refresh on your ex-girlfriend’s Facebook page? You should check out the iAcquire blog and learn something instead" />
    <meta property="fb:admins" content="USER_ID" /> -->

    {% stylesheets
        'css/bootstrap.css'
        'css/main.css'
        filter='cssrewrite' filter='?uglifycss' output='css/compiled/app.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
    {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}

    <script type="text/javascript" async defer src="https://apis.google.com/js/platform.js?publisherid=113836698102981094669"></script>
</head>
<body>


<div class="container-fluid center-block" id="mainframe">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand glyphicon glyphicon-home" href="{{ path('app_consulter') }}" title="Quand consulter cabinet osteopathie paris 75017"><span class="sr-only">Quand consulter ?</span></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li {% if onglet in ['femmes','nourrissons','adolescents','adultes','sportifs'] %}class="active"{% endif %}><a data-toggle="dropdown" role="button" aria-expanded="false" href="#" title="Quand consulter cabinet osteopathie paris 75017">Quand consulter ?</a>
                        <ul class="dropdown-menu" role="menu">
                            <li {% if onglet == 'femmes' %}class="active"{% endif %}><a href="{{ path('app_femmes') }}" title="Osteopathie paris 75017 - Femmes enceintes">Femmes enceintes</a></li>
                            <li {% if onglet == 'nourrissons' %}class="active"{% endif %}><a href="{{ path('app_nourrissons') }}" title="Osteopathie paris 75017 - Nourrissons">Nourrissons</a></li>
                            <li {% if onglet == 'adolescents' %}class="active"{% endif %}><a href="{{ path('app_adolescents') }}" title="Osteopathie paris 75017 - Enfants et adolescent">Enfants et adolescent</a></li>
                            <li {% if onglet == 'adultes' %}class="active"{% endif %}><a href="{{ path('app_adultes') }}" title="Osteopathie paris 75017 - Adultes et séniors">Adultes et séniors</a></li>
                            <li {% if onglet == 'sportifs' %}class="active"{% endif %}><a href="{{ path('app_sportifs') }}" title="Osteopathie paris 75017 - Sportifs">Sportifs</a></li>
                        </ul>
                    </li>
                    <li {% if onglet == 'seance' %}class="active"{% endif %}><a href="{{ path('app_seance') }}" title="Osteopathie paris 75017 - Déroulement d'une séance">Déroulement d'une séance</a></li>
                    <li {% if onglet == 'praticien' %}class="active"{% endif %}><a href="{{ path('app_praticien') }}" title="Osteopathie paris 75017 - Le praticien">Le praticien</a></li>
                    <li {% if onglet == 'tarif' %}class="active"{% endif %}><a href="{{ path('app_tarif') }}" title="Osteopathie paris 75017 - Tarif et remboursements">Tarif et remboursements</a></li>
                    <li {% if onglet == 'contact' %}class="active"{% endif %}><a href="{{ path('app_contact') }}" title="Osteopathie paris 75017 - Contact">Contact</a></li>
                    <li {% if onglet == 'adomicile' %}class="active"{% endif %}><a href="{{ path('app_adomicile') }}" title="Osteopathie paris 75017 - Ostéopathie entreprise">Ostéopathie entreprise</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <header class="clearfix" itemscope itemtype="http://schema.org/LocalBusiness">
        <p id="headername">
        <span>Kentis Warren Armoogum</span><br/>
        <span itemprop="name">Ostéopathe D.O.</span><br/>
        Du Nourrisson à l'Adulte
        </p>
        <ul class="list-unstyled">
            <li itemprop="telephone"><img src="/images/mobile24.png" title="Osteopathie paris 75017 - Téléphone" alt="Téléphone"/>06.78.40.97.40</li>
            <li itemprop="email"><img src="/images/opened16.png" title="Osteopathie paris 75017 - Email" alt="Email"/>armoogum.osteo@gmail.com</li>
            <li itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"><img src="/images/home16.png" alt="Adresse du cabinet" title="Osteopathie paris 75017 - Adresse du cabinet"/>
            <span itemprop="streetAddress">44 rue de tocqueville</span>,
            <span itemprop="postalCode">75017</span>
            <span itemprop="addressLocality">Paris</span></li>
        </ul>
    </header>

    <div id="maincontent">{% block body %}{% endblock %}</div>

</div>


{% javascripts
    'js/jquery.js'
    'js/bootstrap.js'
    'js/map.js'
    filter='?uglifyjs2' output='js/compiled/app.js' %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-60636808-1', 'auto');
  ga('send', 'pageview');
</script>

<!-- <p>En poursuivant votre navigation, vous acceptez l’utilisation de cookies pour vous proposer des services et des offres adaptés à vos centres d’intérêt et mesurer la fréquentation de nos services. Pour en savoir plus et paramétrer les cookies</p> -->

</body>
</html>